In [54]:
from pprint import pprint

input_dict = {"abc":{"def":{"ghi":{"jkl":{"mno":{"pqr":{"stu":{"vwx":{"yz":"you are finally here !!!"}}}}}}}}}

def pattern(input_dict):
    dictt = {}
    for k, v in input_dict.items():
        if isinstance(v, dict):   #v==dict:
            d = pattern(v)
            dictt.update(d)
            dictt[k] = list(reversed(d))
        else:
            dictt[k] = [v]
    return dictt

pprint(pattern(data))

{'abc': ['def', 'ghi', 'jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'],
 'def': ['ghi', 'jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'],
 'ghi': ['jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'],
 'jkl': ['mno', 'pqr', 'stu', 'vwx', 'yz'],
 'mno': ['pqr', 'stu', 'vwx', 'yz'],
 'pqr': ['stu', 'vwx', 'yz'],
 'stu': ['vwx', 'yz'],
 'vwx': ['yz'],
 'yz': ['you are finally here !!!']}

Given an array of length ‘N’, where each element denotes the position of a stall. Now you have ‘N’ stalls and an integer ‘K’ which denotes the number of horses that are mad. To prevent the horses from hurting each other, you need to assign the horses to the stalls, such that the minimum distance between any two of them is as large as possible. Return the largest minimum distance.

array: 1,2,4,8,9  &  k=3

In [60]:
def ok(v,x,c):
    n=len(v)
    count=1
    d=v[0]
    for i in range(1,n):
        if(v[i]-d>=x):
            d=v[i]
            count=count+1
        else:
            continue
    if(count>=c):
        return True
     
    return False
def aggressive_horses(v,n,k):
    ans=-1
    maxi=0
    for i in range(n):
        maxi=max(maxi,v[i])
     
    # Loop from 1 to max limit of the
    # stall length (here = 10^9)
     
    for i in range(1,maxi+1):
        if(ok(v,i,k)):
            ans=i
        else:
            break
     
    return ans
     

K=3
arr=[1,2,4,8,9]
N=len(arr)
 
# Function call
ans=aggressive_horses(arr,N,K)
print(ans)

3

What is correlation? Give an example with a dataset & graphical representation on jupyter Notebook

Correlation refers to the statistical relationship between the two entities. It measures the extent to which two variables are linearly related. For example, the height and weight of a person are related, and taller people tend to be heavier than shorter people.

In [ ]:
import pandas as pd
con = pd.read_csv('Data/ConcreteStrength.csv')
con
list(con.columns)
con.rename(columns={'Fly ash': 'FlyAsh', 'Coarse Aggr.': "CoarseAgg",
                    'Fine Aggr.': 'FineAgg', 'Air Entrainment': 'AirEntrain', 
                    'Compressive Strength (28-day)(Mpa)': 'Strength'}, inplace=True)
con.head()
con['AirEntrain'] = con['AirEntrain'].astype('category')
con.describe(include='category')
list(con.columns)
import seaborn as sns
sns.scatterplot(x="FlyAsh", y="Strength", data=con);
ax = sns.scatterplot(x="FlyAsh", y="Strength", data=con)
ax.set_title("Concrete Strength vs. Fly ash")
ax.set_xlabel("Fly ash");
sns.lmplot(x="FlyAsh", y="Strength", data=con);
sns.lmplot(x="FlyAsh", y="Strength", hue="AirEntrain", data=con);
from scipy import stats
stats.pearsonr(con['Strength'], con['FlyAsh'])
cormat = con.corr()
round(cormat,2)
sns.heatmap(cormat);

In [ ]:
use ineuron;
create table runners
(
id int,
name varchar(25),
primary key(id)
);
create table races
(
id int,
event varchar(25),
winner_id int,
foreign key (id) references runners(id)
);
insert into runners values (1,'john doe'),(2,'jane doe'),(3,'alice jones'),(4,'bobby louis'),(5,"lisa romero");
insert into races values (1,'100 meter dash',2),(2,'500 meter dash',3),(3,'cross-country',2),(4,"trithalon",Null);
SELECT * FROM runners WHERE id NOT IN (SELECT winner_id FROM races);
#The above query will return nothing because the races table contain null winner_id 
SELECT * FROM runners 
WHERE id NOT IN 
      (SELECT winner_id FROM races WHERE winner_id IS NOT NULL);


create table test_a(id int);
create table test_b(id int);
insert into test_a values (10),(20),(30),(40),(50);
insert into test_b values (10),(30),(50);
select * from test_a left join test_b on test_a.id=test_b.id
where test_b.id is null;




drop table users;
create table users
(
user_id int,
username varchar(25),
primary key(user_id)
);
insert into users values (1,'john doe'),(2,'jane don'),(3,'alice jones'),(4,"lisa romero");
create table training_details
(
user_training_id int,
user_id int,
training_id int,
training_date date,
foreign key(user_id) references users(user_id)
);
insert into training_details values (1,1,1,"2015-08-02"),(2,2,1,"2015-08-03"),(3,3,2,"2015-08-02"),(4,4,2,"2015-08-04"),(5,2,2,"2015-08-03"),
(6,1,1,"2015-08-02"),(7,3,2,"2015-08-04"),(8,4,3,"2015-08-03"),(9,1,4,"2015-08-03"),(10,3,1,"2015-08-02"),(11,4,2,"2015-08-04"),(12,3,2,"2015-08-02"),
(13,1,1,"2015-08-02"),(14,4,3,"2015-08-03");

SELECT username, training_date
FROM users 
INNER JOIN training_details  ON(users.user_id = training_details.user_id)
GROUP BY username, training_date
HAVING COUNT(*) > 1
ORDER BY username, training_date DESC;

drop table Employee;
create table Employee 
(emp_id int,
emp_name varchar(25),
salary int,      
manager_id int);

insert into Employee values (10,'Anil',50000,18),(11,'Vikas',75000,16),(12,'Nisha',40000,18),(13,'Nidhi',60000,17),(14,'Priya',80000,18),
(15,'Mohit',45000,18),(16,'Rajesh',90000,NULL),(17,'Raman',55000,16),(18,'Santosh',65000,17);


SELECT  e1.Manager_id , e2.emp_name as Manager ,AVG(e1.Salary) as Average_Salary_Under_manager
FROM Employee e1
INNER JOIN Employee e2 ON e1.Manager_id = e2.emp_id
WHERE e1.Manager_id IS NOT NULL
GROUP BY e1.Manager_id , e2.emp_name;